<header class="h">
  <a href="/pages/home"><img src="/assets/images/Logo.png" alt="cuttle.ai Logo" class="logo"></a>
  <span [ngStyle]="{'color': theme.PrimaryTextColor}" class="n">cuttle.ai</span>
</header>
<section class="h_p" *ngIf="profile" [style.background]="theme.PrimaryForegroundColor" (click)="viewOptions()">
  <img src="{{profile.Picture}}" alt="user profile image" class="h_p_image">
  <span class="h_p_name">{{profile.Name}}</span>
</section>
<brain-search *ngIf="profile"></brain-search>
<ul [ngClass]="{'h_p_o': true, 'h_p_o--visible': profileOptions}" *ngIf="profile">
  <li class="h_p_o_item" [style.background]="theme.PrimaryForegroundColor" (click)="navigateTo(['pages', 'profile'])">
    Profile</li>
  <li class="h_p_o_item" [style.background]="theme.PrimaryForegroundColor" (click)="logout()">Logout</li>
</ul>
<div *ngIf="profile" class="m" [style.background]="theme.PrimaryForegroundColor" [style.color]="theme.PrimaryTextColor"
  (click)="viewMenu()">
  <i class="fa fa-bars m_icon"></i>
</div>

<div [ngClass]="{'m_l' : true, 'm_l--visible': menuOptions}">
  <button nbButton (click)="navigateTo(['pages', 'home'])" class="m_l_item"
    [style.background]="theme.PrimaryForegroundColor" [style.color]="theme.PrimaryTextColor">
    <i class="fa fa-home m_l_icon"></i><span class="m_l_name">Home</span>
  </button>
  <button nbButton (click)="navigateTo(['pages', 'data'])" class="m_l_item"
    [style.background]="theme.PrimaryForegroundColor" [style.color]="theme.PrimaryTextColor">
    <i class="fa fa-database m_l_icon"></i><span class="m_l_name">Data</span>
  </button>
  <button nbButton (click)="navigateTo(['pages', 'data'])" class="m_l_item"
    [style.background]="theme.PrimaryForegroundColor" [style.color]="theme.PrimaryTextColor">
    <i class="fa fa-lightbulb-o m_l_icon"></i><span class="m_l_name">Neurons</span>
  </button>
  <button nbButton (click)="navigateTo(['pages', 'data'])" class="m_l_item"
    [style.background]="theme.PrimaryForegroundColor" [style.color]="theme.PrimaryTextColor">
    <i class="fa fa-line-chart m_l_icon"></i><span class="m_l_name">Dashboards</span>
  </button>
</div>