.logo {
    width: 4vw;
    height: 4vw;
}

/* header */
.h {
    display: flex;
    padding: 0.5vw;
}

/* name of the org */
.n {
    display: flex;
    align-items: center;
    margin-left: 0.5vw;
}