<brain-page [style]="style.BACKGROUND" [title]="'Connect your sources'">
    <div class="s_s_w">
        <i class="fa fa-search s_s_icon"></i>
        <input type="text" class="s_s_input" placeholder="search a source" [(ngModel)]="search"
            (keyup)="searchChanged()">
    </div>
    <div class="s_l_w">
        <nb-card *ngFor="let source of filteredSources" class="s_l_i_c">
            <nb-card-header><i class="{{source.icon}}"></i> {{source.name}}</nb-card-header>
            <nb-card-body class="s_l_i_body">
                <div class="s_l_i_desc">{{source.description}}</div>
                <button nbButton status="success" (click)="source.toggle(source)">Connect</button>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="f_u_m {{fileuploadModal?'f_u_m--enabled':''}}" *ngIf="selectedSource">
        <i class="f_u_m_close fa fa-times" (click)="toggleFileSource()"></i>
        <div class="f_u_m_u">
            <brain-fileupload [action]="'/datasourceapi/v1/upload'"
                [acceptedFileTypes]="selectedSource.acceptedFileTypes"></brain-fileupload>
        </div>
    </div>
</brain-page>