/* login container */
.l_container {
    position: fixed;
    top: 10vw;
    right: 0.5vw;
    display: flex;
    align-items: center;
}

.separator {
    width: 0.2vw;
    height: 35vw;
    box-shadow: 0.1vw 0 0.7vw 0;
}

/* login branding */
.l_b {
    text-align: right;
}

.l_b_title {
    position: relative;
    top: -3vw;
    margin-top: -3vw;
    margin-right: 1vw;
}

/* login authentication area */
.l_a {
    width: 20vw;
    height: 35vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}