<nb-card [nbSpinner]="loading" nbSpinnerStatus="info">
    <nb-card-header>{{isEditing?'Edit Details':'Create an App'}}
        <nb-alert status="warning" *ngIf="error">
            {{error}}
        </nb-alert>
    </nb-card-header>
    <nb-card-body class="d_c" *ngIf="app">
        <input *ngIf="!confirmDelete" class="d_c_item" type="text" nbInput placeholder="Name of the app"
            [(ngModel)]="app.Name">
        <textarea *ngIf="!confirmDelete" nbInput class="d_c_item" placeholder="Description of the app"
            [(ngModel)]="app.Description"></textarea>
        <div *ngIf="confirmDelete">Are you sure about deleting the app?</div>
        <div class="d_c_btns">
            <button nbButton status="{{confirmDelete?'danger':'success'}}"
                (click)="okButtonClicked()">{{isEditing?'Update':confirmDelete?'Ok Delete':'Create'}}</button>
            <button nbButton status="basic" (click)="cancel()">Cancel</button></div>
    </nb-card-body>
</nb-card>